<div ng-controller="CostCenterController">

            <hr class="clear">
            <h3 class="pull-right add-padding">   <a ng-href="{{ centerURL('all') }}">Overall Cost</a>:${{ totalCost | number:2}} </h3>
            <hr class="clear">

            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="table-responsive col-md-8">
                    <table class="table table-stripped table-bordered" ng-show="costCenterList.length">
                        <thead>
                        <th class="bg-warning text-center">Owner</th>
                        <th class="bg-warning text-center">Cost for current month</th>
                        <th class="bg-warning text-center">Total Budget</th>
                        <th class="bg-warning text-center">Budget Used</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cost_center in costCenterList">
                            <td class="text-info cost_center">
                                <a ng-href="{{ centerURL(cost_center.id) }}">{{ cost_center.name }}</a>
                            </td>
                            <td class="text-info" align="right">${{ cost_center.cost | number:2 }}</td>
                            <td class="text-info" align="right" ng-if="cost_center.total_budget">
                              {{cost_center.total_budget | currency}}
                            </td>
                            <td class="text-info" align="right" ng-if="!cost_center.total_budget" style="color:grey;"
                              uib-tooltip="Missing budgets for projects" tooltip-append-to-body="true">N/A</td>
                              <td class="text-info" align="right" ng-if="cost_center.percentage">
                                <a ng-href="{{ getMonthlyProjectBillingPerCenter(cost_center.name) }}">{{cost_center.percentage | number : 2}} %</a>

                              </td>
                              <td class="text-info" align="right" ng-if="!cost_center.percentage" style="color:grey;"
                              uib-tooltip="Total budget required to calculate percentage" tooltip-append-to-body="true">
                                <a ng-href="{{ getMonthlyProjectBillingPerCenter(cost_center.name) }}">N/A</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="clear panel-body bg-info text-center" ng-hide="costCenterList.length || loading">
                No data available for current month yet, try again later.
            </div>

            <div ng-include="'/static/partials/loading.html'"></div>
            <!-- panel-body main -->


</div>
