{% extends "defaultTemplate.html" %}
{% block customcss %}
    <link rel="stylesheet" href="/static/css/billing.css">
{% endblock %}

{% block content %}
  <div class="container-fluid main">
    <div class="panel panel-default">
      <h2 class="text-center">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x text-success"></i>
          <i class="fa fa-dollar fa-stack-1x text-success"></i>
        </span>
          Billing Info

      </h2>
      <hr class="clear">
      <div>

      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Cost Center">
          <div ng-include="'/static/partials/billing/cost_center.html'"></div>
        </uib-tab>

        <uib-tab index="1" heading="Owner" ng-if="isLogged()">
          <div ng-include="'/static/partials/billing/owner_billing.html'"></div>
        </uib-tab>

      </uib-tabset>


      </div>
    </div>
  </div>

{% endblock %}

{% block customjs %}
    <script src="/static/assets/js/billing.min.js"></script>
{% endblock %}
